[Unit]
Description=fm service

[Service]
WorkingDirectory=/var/cache/fm
Type=simple
User=il
ExecStart=/home/il/fm/fm all --wait
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
