.playerButton img {height: 1em;}
.listingplayer {
    width: 100%;
    position: fixed;
    top: 10px;
}
.preloadplayer {
    width: 100%;
    position: fixed;
    top: 50px;
}

.gapdiv {
    height: 40px;
}

