#windowtop {
    width: 100%;
    height: 20px;
    position: fixed;
    top: 0px;
}

.playerButton img {height: 1em;}
.listingplayer {
    position: relative;
    width: 100%;
    top: 10px;
    height: 60px;
}

.gapdiv {
    height: 40px;
}

